h1{
    text-align: center;
}
h2{
    text-align: center;
}

label {
    display: inline-block;
    width: 100px;
}

table{
    border-collapse: collapse;
    margin: auto;
    width: 300px;
}

th, tr, td{
    border : 1px solid rgb(0, 0, 0);
    height: fit-content;
    width: fit-content;
    padding: 5px;
}

.enlaces{
    text-align: right;
}

.formularios{
    margin: auto;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    border: 1px solid black;
}

.botonBorrar{
    background-color: red;
    color: white;
}

.botonLimpiar{
    background-color:gold;
    color: black;
}

#botonListaDisfraz{
    background-color:greenyellow;
    color: black;
}

input{
    width: auto;
    height: auto;
}
